*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --paper-color: hsla(217, 100%, 85%);
    --paper-background: hsla(0, 0%, 90%, 1);
    --border-color: hsl(0, 0%, 50%);
    --code-block-bg: hsla(0, 0%, 80%, 1);

    font-size: 25px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.paper {
    background-color: var(--paper-background);
    background-image: linear-gradient(var(--paper-color) 4.8px, transparent 4.8px),
        linear-gradient(90deg, var(--paper-color) 4.8px, transparent 4.8px),
        linear-gradient(var(--paper-color) 2.4px, transparent 2.4px),
        linear-gradient(90deg, var(--paper-color) 2.4px, transparent 2.4px);
    background-size:
        120px 120px,
        120px 120px,
        24px 24px,
        24px 24px;
    background-position:
        -4.8px -4.8px,
        -4.8px -4.8px,
        -2.4px -2.4px,
        -2.4px -2.4px;
}

#desktop-nav {
    width: 100%;
    height: 5vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--paper-color);
    border-bottom: 3px solid var(--border-color);

    font-family: monospace;

    user-select: none;
}

#desktop-nav ul {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem;
}

#information {
    flex-direction: row-reverse;
}

#desktop-nav ul li {
    list-style: none;
}

main {
    width: 100vw;
    height: 95vh;
}

div {
    width: 100%;
    height: 100vh;
}


.window {
    width: 50vw;
    min-width: 15%;
    max-width: 90%;
    height: 40vw;
    min-height: 15%;
    max-height: 90%;
    resize: both;

    overflow: hidden;

    top: calc(50% - 20vw);
    left: calc(50% - 25vw);

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 3px solid var(--border-color);
    border-radius: 5px 5px 15px 15px;
    box-shadow: 4px 4px 200px color-mix(var(--border-color), transparent 50%);

    transition: width 0.05s ease-in-out, height 0.05s ease-out;

    z-index: 3;
}

.window-content {
    width: 100%;

    padding: 0;

    overflow: scroll;
    scrollbar-width: none;
    flex: 1;
}

.window-nav {
    width: 100%;
    height: 1.5rem;

    padding: 0 0.5rem;
    
    background-color: var(--paper-color);
    border-bottom: 2px solid var(--border-color);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-family: monospace;

    user-select: none;

    flex-shrink: 0;
}

.window-nav .title {
    font-size: 0.75em;
    font-weight: normal;
    color: black;
}

.window-nav .btn-close {
    aspect-ratio: 1 / 1;
    padding: 1em;

    font-size: 0.75em;
    
    background: none;
    border: none;

    cursor: pointer;
}

.code-block {
    background-color: var(--code-block-bg);
    border-radius: 5px;
    padding: 0 0.25em;
    font-family: monospace;
    font-size: 0.75em;
}

.window-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}